version=100

@grid_cfgs
  Grd_typ_S  =             'LU' 
  Grd_ni     =              663 
  Grd_nj     =              672 
  Grd_dx     =     0.0225000000 
  Grd_dy     =     0.0225000000 
  Grd_xlat1  =    53.0000000000 
  Grd_xlon1  =  -100.0000000000 
  Grd_xlat2  =    50.0000000000 
  Grd_xlon2  =   -85.0000000000 
  Grd_iref   =              332 
  Grd_jref   =              336 
  Grd_latr   =    -1.1475000000
  Grd_lonr   =   193.0500000000 

@time_cfgs
Step_runstrt_S  = '20151015.120000'
Step_dt    = 600
Step_gstat = 1
Step_bkup  = -1
Step_total = 144

#Looks like the physic cannot run with less than 2[+2] lvls
@levels_cfgs
Lvl_typ_S = 'HU'
Lvl_ptop_8 = 1000.0
Lvl_list = 0.994402

@sps_cfgs
#ip1a = 93423264 == 1. hy need zua=10m et zta=2m
#ip1a = 95366840 == 0.995 hy need zua/zta not set, default values
ip1a = 95366242
int_accu_S = 'CONST'
adapt_L = .true.
lapserate = 0.0060
read_hu_L = .false.
max_neg_pr0=-1.E-04
zta = -1.
zua = -1.
stat_list_s = 'TJ','TDK'
@

&surface_cfgs
 diusst           = 'fairall'
 diusst_lakes     = .true.
 diusst_ocean     = .true.
 diusst_warmlayer_lakes = .true.
 dp_svs           = 0.05, 0.1, 0.2, 0.4, 1.0, 2.0, 3.0
 icelac           = .true.
 icemelt          = .true.
 khyd             = 6
 leadfrac         = 0.0
 limsnodp         = .true.
 lsoil_freezing_svs1 = .true.
 soil_cond = 'PL1998'
 soilsnowhf_svs1 = 'ST_D_DD'
 soildbtm_svs1 = 'DEEP'
 lmacropores_svs1 = .false.
 mp_alpha = 0.85
 mp_beta = 3.64
 lwater_ponding_svs = .true.
 read_emis        = .true.
 salty_qsat       = .true.
 schmlake         = 'NIL'
 schmsol          = 'SVS'
 schmurb          = 'NIL'
 sl_func_stab     = 'beljaars91'
 sl_z0ref         = .true.
 sl_lmin_soil     = 10.
 sl_lmin_glacier  = 10.
 sl_lmin_water    = 10.
 sl_lmin_seaice   = 10.
 svs_dynamic_z0h = .false.
 svs_local_z0m = .false.
 svs_urban_params = .true.
 use_photo        = .true.
 use_eff_surf_tq  = .true.
 z0mtype          = 'beljaars'
 z0ttype          = 'deacu12'
 SOILTEXT = 'GSDE'
 SVS_GEXP = 4.000000
 SVS_HRSURF_METHOD = 'BETA_ECMWF12'
 SVS_HRSURF_POWER = 6.000000
 SVS_HRSURF_RS = 50.00000
 SVS_ETR_AVG_BETA = T
 SVS_ETR_MAX_ROOTS_IGNORED = 0.6000000
 svs_read_d50dat        = .true.        ,
 svs_d50dat = 0.0, 0.0, 0.0,  0.2,  0.2,
               0.2, 0.2, 0.2,  0.2,  0.2,
               0.2, 0.3, 0.5,  0.2,  0.15,
               0.2, 0.2, 0.2,  0.2,  0.2,
               0.2, 0.1, 0.15, 0.75, 0.2,
               0.5,
 svs_read_d95dat        = .true.        ,
 svs_d95dat = 0.0, 0.0, 0.0, 0.9, 0.9,
               0.9, 0.9, 1.2, 0.9, 0.9,
               0.9, 1.5, 1.5, 1.2, 1.0,
               0.9, 0.9, 0.9, 0.9, 0.9,
               0.9, 0.3, 0.7, 2.0, 0.9,
               1.5,
 svs_read_vegdat        = .true.        ,
 svs_vegdat = 0.00, 0.00, 0.00, 0.90, 0.99,
               0.90, 0.90, 0.99, 0.90, 0.50,
               0.50, 0.50, 0.85, 0.30, -99.,
               -99., -99., -99., -99., 0.85,
               0.80, 0.50, 0.60, 0.00, 0.90,
               0.90,
 svs_read_vegcrops      = .true.        ,
 svs_vegcrops =  0.05, 0.05, 0.05, 0.10, 0.20,
                   0.40, 0.80, 0.80, 0.90, 0.05,
                   0.05, 0.05, 0.05,
 svs_tdrains_plough = .true.
 kplough = 3
 ktdrains = 5
/

&physics_cfgs
FLUVERT='SURFACE'
input_type = 'GEM_4.8'
sgo_tdfilter = -1.
pcptype='SPS_W19'
phystat_list_s = 'ALLVARS=EDPV'
phystat_dble_l = .true.
phystat_freq_s = '3600s'
/

&convection_cfgs 
/
