[submodule "cmake_rpn"]
	path = cmake_rpn
	url = https://github.com/ECCC-ASTD-MRD/cmake_rpn.git
	branch = master
[submodule "src/rpn-si/vgrid"]
	path = src/rpn-si/vgrid
	url = https://github.com/ECCC-ASTD-MRD/vgrid.git
	branch = master
[submodule "src/rpn-si/rpncomm"]
	path = src/rpn-si/rpncomm
	url = https://github.com/ECCC-ASTD-MRD/rpncomm.git
	branch = main
[submodule "src/rpn-si/rmn"]
	path = src/rpn-si/rmn
	url = https://github.com/ECCC-ASTD-MRD/librmn.git
	branch = alpha
[submodule "src/rpn-si/tdpack"]
	path = src/rpn-si/tdpack
	url = https://github.com/ECCC-ASTD-MRD/tdpack.git
	branch = master
