#SPS_DFILES=/home/nic101/data/ppp6_mrd/sps/sps_dbase
#SPS_CONST=${SPS_DFILES}/constants
SPS_DFILES=${SPS_MODEL_DFILES}
SPS_DATA=${SPS_DFILES}/svs1_mosa

UM_EXEC_climato=${SPS_DATA}/clim.reg.nouv_avec_emib
UM_EXEC_geophy=${SPS_DATA}/geophy
UM_EXEC_anal=${SPS_DATA}/analysis_2020022800
UM_EXEC_inrep=${SPS_DATA}/forcing_hrdps_2020022800_48h
SPS_phy_intable=${PWD}/configurations/svs1_mosa/cfg_0000/physics_input_table
