version=100

@grid_cfgs
Grd_typ_S  =             'LU'
Grd_ni     =              210
Grd_nj     =              450
Grd_dx     =     0.0900000000
Grd_dy     =     0.0900000000
Grd_xlat1  =    65.0000000000
Grd_xlon1  =   290.0000000000
Grd_xlat2  =    64.0000000000
Grd_xlon2  =   331.0000000000
Grd_iref   =              105
Grd_jref   =              225
Grd_latr   =     -1
Grd_lonr   =   177.5
Grd_maxcfl =                0

@time_cfgs
Step_runstrt_S = '20160315.120000'
Step_dt = 600
Step_gstat = 1
Step_bkup  = -1
Step_total = 144

#Looks like the physic cannot run with less than 2[+2] lvls
@levels_cfgs
Lvl_typ_S = 'HS'
Lvl_ptop_8 = 1000.0

@sps_cfgs
ip1a = 95370590
ip1at = 95370590
int_accu_S = 'CONST'
adapt_L = .true.
lapserate = 0.0060
read_hu_L = .false.
max_neg_pr0=-1.E-04
zta = 30.96
zua = 30.96
stat_list_s = 'TJ','TDK'
@

#stat_list_s = 'ISOL','SNAL','SVAL','SNDP','SVDP','SNM','SVM','SD','TM','TGR','TSN','TSNV','WSOL','WSN','WSV','3HES','3HEV','G1ES','G1EV','G2ES','G2EV','I5ES','I5EV','7SES','7SEV','I4ES','I4EV','TSNL','TSLV','HIES','HIEV','TGRD','TSGV','TVGL','TVGH','WVGL','WVGH','SCM','VGHD','TJ','TDK'



&surface_cfgs  
 schmsol    = 'SVS2'
 dp_svs     = 0.05, 0.1, 0.2, 0.4, 1.0, 2.0, 3.0
 khyd       = 6   
 use_photo  = .true.
 use_eff_surf_tq = .true.
 sl_func_stab = 'beljaars91'
 sl_z0ref = .true.
 sl_lmin_soil    = 20.
 sl_lmin_glacier = 10.
 sl_lmin_water   = 10.
 sl_lmin_seaice  = 10.
 read_emis  = .false.
 limsnodp   = .true.
 icemelt    = .true.
 icelac     = .false.
 diusst     = 'fairall'
 diusst_lakes = .true.
 diusst_ocean  = .true.
 z0mtype    = 'beljaars'
 z0ttype    = 'deacu12'
 salty_qsat = .true.
 svs_urban_params = .true.
 HSNOWSCHEME = 'CRO'
 lsnowdrift_sublim=.false.
 HSNOWDRIFT_CRO='R21F'
 HSNOWFALL='R21'
 HSNOWCOMP='B92'
 nsl = 20
 lsnow_interception_svs2=.true.
 read_z0vh=.true.
 read_hveglpol = .true. 
 cano_ref_forcing='ABV'
 lsnowaging_var=.true.
/

&physics_cfgs
FLUVERT='SURFACE'
input_type = 'GEM_4.8'
sgo_tdfilter = -1. 
pcptype='SPS_H13'
phystat_list_s = 'ALLVARS=EDPV'
phystat_dble_l = .true.
phystat_freq_s = '600s'
/


&convection_cfgs 
/
