version=100

@grid_cfgs
Grd_typ_S    = 'LU'
Grd_ni       = 2540
Grd_nj       = 1290
Grd_dx       = 0.0225
Grd_dy       = 0.0225
Grd_iref     = 1050
Grd_jref     = 670
Grd_lonr     = 180.0
Grd_latr     = 2.75
Grd_xlon1    = -100.00
Grd_xlat1    = 53.00
Grd_xlon2    = -85.00
Grd_xlat2    = 50.00

@time_cfgs
Step_runstrt_S = '20200228.000000'
Step_dt = 600.
Step_gstat = 1
Step_bkup  = -1
Step_total = 18

#Looks like the physic cannot run with less than 2[+2] lvls
@levels_cfgs
Lvl_typ_S = 'HS'
Lvl_ptop_8 = 1000.0
Lvl_list = 0.995000

@sps_cfgs
ip1a = 95366840 
ip1at = 95369337 
int_accu_S = 'CONST'
adapt_L = .false.
lapserate = 0.0060
read_hu_L = .true.
max_neg_pr0=-1.E-04
zta = -1.
zua = -1.
stat_list_s = 'TJ','TDK','WSOL','ISOL','SVSW','TSA','TGR','TVG','TSN','TSNV','SNDP','SVDP','SNM','SVM'
stat_dble_L = .true.
@

&surface_cfgs
 Diusst                    = 'fairall'
 Diusst_lakes              = .true.
 Diusst_ocean              = .true.
 Diusst_warmlayer_lakes    = .true.
 Dp_svs                    = 0.05, 0.1, 0.2, 0.4, 1.0, 2.0, 3.0
 Ice_emiss                 = '.97'        
 Icelac                    = .true.
 Icemelt                   = .true.
 Impflx                    = .true.                     
 Khyd                      = 6
 Leadfrac                  = 0.0
 Limsnodp                  = .true.
 Read_emis                 = .true.
 Salty_qsat                = .true.
 Schmsol                   = 'SVS'
 Schmurb                   = 'TEB'
 Sl_func_stab              = 'beljaars91'
 Sl_z0ref                  = .true.
 Sl_lmin_soil              = 2.
 Sl_lmin_glacier           = 2.
 Sl_lmin_water             = 2.
 Sl_lmin_seaice            = 2.
 Snow_emiss                = '.97'
 Svs_urban_params          = .true.
 Use_eff_surf_tq           = .true.
 Use_photo                 = .true.
 Water_emiss               = '1.0'    
 Z0mtype                   = 'beljaars'
 Z0ttype                   = 'deacu12'
 Z0seaice                  = 5.4e-4
svs_hrsurf_method      = 'BETA_ECMWF12'
Soiltext = 'SOILGRIDS'                 ,
svs_hrsurf_rs          = 75.           ,
svs_hrsurf_power       = 4.5           ,
svs_etr_avg_beta       = .true.        ,
svs_etr_max_roots_ignored = 0.6        ,
svs_etr_fcd_dyn        = 0.5           ,
vf_type                = 'ccilc_we'      ,
svs_hydro_nummethod    = 'RK4_IC4' ,
/


&physics_cfgs
FLUVERT='SURFACE'
input_type = 'GEM_4.8'
sgo_tdfilter = -1.
pcptype='SPS_W19'
/

phystat_list_s =  'ALLVARS=EDPV',
phystat_dble_l = .true.,
phystat_freq_s = '600s',


&convection_cfgs 
/
