version=100

@grid_cfgs
Grd_typ_S    = 'LU'
Grd_ni       = 2540
Grd_nj       = 1290
Grd_dx       = 0.0225
Grd_dy       = 0.0225
Grd_iref     = 1050
Grd_jref     = 670
Grd_lonr     = 180.0
Grd_latr     = 2.75
Grd_xlon1    = -100.00
Grd_xlat1    = 53.00
Grd_xlon2    = -85.00
Grd_xlat2    = 50.00

@time_cfgs
Step_runstrt_S = '20151017.120000'
Step_dt = 600
Step_gstat = 36
Step_bkup  = -1
Step_total = 144

#Looks like the physic cannot run with less than 2[+2] lvls
@levels_cfgs
Lvl_typ_S = 'HU'
Lvl_ptop_8 = 1000.0
Lvl_list = 0.994402

@sps_cfgs
ip1a = 95366242
ip1at = 95366242
int_accu_S = 'CONST'
adapt_L = .true.
lapserate = 0.0060
read_hu_L = .false.
max_neg_pr0=-1.E-01
zta = -1.
zua = -1.
stat_list_s = 'TJ','TDK','TM','TG','TSA','FI','FB','PR','LICE','LST'
@

&surface_cfgs  
 schmsol    = 'SVS'
 schmlake   = 'CSLM'
 dp_svs     = 0.05, 0.1, 0.2, 0.4, 1.0, 2.0, 3.0
 khyd       = 6   
 use_photo  = .true.
 use_eff_surf_tq = .true.
 khyd = 6,
 read_emis  = .false.
 limsnodp   = .true.
 icemelt    = .true.
 icelac     = .false.
 diusst     = 'fairall'
 diusst_lakes = .true.
 diusst_warmlayer_lakes = .true.
 z0ttype    = 'DEACU12'
 z0mtype    = 'beljaars'
 z0tlat     = 25., 30.
 salty_qsat = .true.
 beta       = 1.0
/

&physics_cfgs
FLUVERT='SURFACE',
input_type='GEM_4.8',
sgo_tdfilter = -1.,
/
phystat_list_s =  'ALLVARS=EDPV',
phystat_dble_l = .true.,
phystat_freq_s = '600s',

&convection_cfgs 
/
