#SPS_DFILES=/fs/ssm/eccc/mrd/rpn/models/sps/sps-data/dfiles
SPS_DFILES=${SPS_MODEL_DFILES}
SPS_DATA=${SPS_DFILES}/jouet_svs

#UM_EXEC_ovbin=release
UM_EXEC_climato=${SPS_DATA}/climato_v2.1.0
UM_EXEC_geophy=${SPS_DATA}/geophy
UM_EXEC_inrep=${SPS_DATA}/inrep_6hr
UM_EXEC_anal=${SPS_DATA}/ana_2016070700
SPS_phy_intable=${PWD}/configurations/SPS_cfgs/cfg_0000/physics_input_table

